trigger: none
pool: satishagent
stages:
  - stage: 
    jobs:
      - job: 
        steps:
        - task: NodeTool@0
          inputs:
            versionSource: 'spec'
            versionSpec: '16.x'
            checkLatest: true

        - task: Npm@1
          displayName: npm install
          inputs:
            command: 'install'
            workingDir: '$(System.DefaultWorkingDirectory)'

        - task: Npm@1
          displayName: npm build
          inputs:
            command: 'custom'
            workingDir: '$(System.DefaultWorkingDirectory)'
            customCommand: 'run build'

        # - task: PublishBuildArtifacts@1
        #   displayName: Artifact
        #   inputs:
        #     PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        #     ArtifactName: 'BuildArtifact'
        #     publishLocation: 'FilePath'
        #     TargetPath: '$(Build.ArtifactStagingDirectory)/build'
        - task: PublishPipelineArtifact@1
          inputs:
            targetPath: '$(System.DefaultWorkingDirectory)/build'
            artifact: 'mera_artifact'
            publishLocation: 'pipeline'

  - stage: copystage
    jobs:
      - job: 
        steps:
        - task: DownloadBuildArtifacts@1
          inputs:
            buildType: 'current'
            downloadType: 'single'
            artifactName: 'mera_artifact'
            downloadPath: '$(System.DefaultWorkingDirectory)/'
        - task: SSH@0
          inputs:
            sshEndpoint: 'frontend'
            runOptions: 'inline'
            inline: 'sudo cp -r /agent/_work/1/s/build/* /var/www/html'
            readyTimeout: '20000'