trigger: none
pool: Default
stages:
  - stage: 
    jobs:
      - job: 
        steps:
        - task: NodeTool@0
          inputs:
            versionSource: 'spec'
            versionSpec: '16.x'
            checkLatest: true

        - task: Npm@1
          inputs:
            command: 'install'
            workingDir: '$(System.DefaultWorkingDirectory)/ReactTodoUIMonolith'

        - task: Npm@1
          inputs:
            command: 'custom'
            workingDir: '$(System.DefaultWorkingDirectory)/ReactTodoUIMonolith'
            customCommand: 'run build'

        - task: PublishBuildArtifacts@1
          inputs:
            PathtoPublish: '$(Build.ArtifactStagingDirectory)/ReactTodoUIMonolith/Build_Artifact'
            ArtifactName: 'Build_Artifact'
            publishLocation: 'Container'